# Node dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Vite production build outputs
/client/dist/
/client/.local

# Python environment isolates
/ai-service/venv/
__pycache__/
*.pyc

# Local configurations & variables
.env
.env.local
*.log